@font-face {
  font-family: 'Mija';
  src: url('../fonts/mija_bold-webfont.eot');
  src:
    local(':relaxed:'),
    url('../fonts/mija_bold-webfont.woff2') format('woff'),
    url('../fonts/mija_bold-webfont.ttf') format('truetype'),
    url('../fonts/mija_bold-webfont.svg#font') format('svg');
}

@font-face {
  font-family: 'Elena';
  src: url('../fonts/elenawebregular.eot');
  src:
    local(':relaxed:'),
    url('../fonts/elenawebregular.woff2') format('woff'),
    url('../fonts/elenawebregular.ttf') format('truetype'),
    url('../fonts/elenawebregular.svg#font') format('svg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mija, sans-serif;
}

body {
  background: #f2f2f2;
}

header nav {
  width: 100%;
  height: 170px;
  background-color: rgb(155, 155, 154);
}

header nav ul {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}

header nav ul > li {
  margin-top: 74px;
  font-size: 22px;
}

header nav ul > li:first-child {
  margin-left: 45px;
  margin-top: 55px;
  font-size: 50px;
}

header nav ul > li:last-child {
  margin-top: 69px;
  margin-right: 45px;
  padding: 5px 15px;
  border: 3px solid white;
  border-radius: 5px;
}

.latest {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 450px;
}

.latest > article {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  font-size: 30px;
  color: white;
}

.article-1 {
  background-color: rgb(161, 160, 160);
}

.article-2 {
  background-color: rgb(148, 146, 146);
}

.article-3 {
  background-color: rgb(134, 133, 133);
}

.article-4 {
  background-color: rgb(99, 97, 97);
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  padding: 50px 0;
  height: inherit;
  background: #f2f2f2;
}

.posts article,
.bookmarks article:first-child {
  padding: 30px;
}

.posts article h2,
.bookmarks article:first-child h2 {
  margin-bottom: 25px;
}

.posts article h2 a,
.bookmarks article:first-child h2 a {
  color: black;
  font-size: 28px;
}

.posts article span,
.posts article span a,
.bookmarks article:first-child span a {
  font-size: 18px;
  color: rgb(155, 155, 154);
}

.posts article p,
.bookmarks article:first-child p,
.supporters p,
.members p,
.community article div:last-child p {
  margin-top: 25px;
  font-family: Elena;
  line-height: 1.5;
  font-size: 22px;
}

.posts article p > a {
  font-family: Elena;
}

.posts article:not(:last-child):hover,
.bookmarks article:first-child:hover {
  background: white;
  box-shadow: 3px 3px 7px rgba(66, 65, 65, 0.4);
  transform: scale(1.1);
}

.posts article:last-child:hover {
  background: white;
  padding-right: 30px;
  margin-right: 21px;
  box-shadow: 3px 3px 7px rgba(66, 65, 65, 0.4);
  transform: scale(1.1);
}

.posts article:first-child:hover,
.bookmarks article:first-child:hover {
  margin-left: 21px;
}

.post-members {
  display: grid;
  grid-template-columns: 34% 64%;
  height: 700px;
  grid-gap: 12px;
  padding: 20px;
  padding-left: 40px;
  background-color: #f2f2f2;
}

.supporters {
  height: 300px;
  background-color: rgb(172, 169, 169);
  border-radius: 13px;
  margin-top: 60px;
  text-align: center;
  color: white;
}

.members {
  background-color: rgb(80, 79, 79);
  border-radius: 23px;
  text-align: center;
  color: white;
}

.supporters h2 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.members h1 {
  padding-top: 300px;
  font-size: 40px;
  text-decoration: underline;
  padding-bottom: 30px;
}

.members p {
  width: 70%;
  margin: 0 auto;
}

.members button,
.book article button {
  background-color: rgb(182, 179, 179);
  width: 30%;
  height: 60px;
  border: none;
  margin-top: 40px;
  border-radius: 7px;
  color: white;
  font-size: 18px;
}

.bookmarks {
  display: grid;
  grid-template-columns: 34% 64%;
  background-color: #f2f2f2;
  padding-top: 20px;
  height: 700px;
}

.bookmarks-tv button {
  width: 40%;
}

.ethics {
  width: 100%;
  padding: 30px;
  height: 450px;
  margin: 50px 0 0 0;
  text-align: center;
  background: rgb(97, 94, 94);
}

.ethics > h2 {
  margin-top: 40px;
}

.ethics h2 a {
  color: white;
  font-size: 50px;
}

.ethics > p,
.ethics > p > strong {
  width: 60%;
  margin: 30px auto 0 auto;
  font-family: Elena;
  font-size: 26px;
  line-height: 2;
  color: white;
}

.ethics > button {
  padding: 20px 70px;
  background: rgba(187, 177, 177, 0.4);
  font-size: 25px;
  border: none;
  color: white;
  border-radius: 7px;
  margin-top: 30px;
}

.community article {
  width: 100%;
  padding: 50px;
}

.community article div:first-child {
  width: 200px;
  float: left;
  height: 200px;
  border: 10px solid grey;
  border-radius: 10px;
  transform: rotate(70deg);
  margin-top: 40px;
}

.community article div:last-child {
  width: 75%;
  float: right;
  height: 200px;
  margin-right: 30px;
}

.community article div:last-child h3 {
  font-family: Elena;
  color: rgb(102, 102, 102);
  font-weight: 400;
  font-size: 17.874px;
  letter-spacing: 2px;
}

.clear {
  clear: both;
}

.writers-section {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.writers-section > article {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.writers-section > article > .figure-head {
  width: 70px;
  height: 70px;
  border: 6px solid grey;
  border-radius: 6px;
  margin: 10px 0 0 30px;
  transform: rotate(75deg);
}

.writers-section > article > .content {
  width: 80%;
  margin-left: 5px;
}

.writers-section > article > .content > span,
.writers-section > article > .content > span > a {
  font-size: 22px;
  color: rgb(102, 102, 102);
}

.writers-section > article > .content > h1 {
  margin: 25px 0;
}

.writers-section > article > .content > h1 > a {
  text-decoration: none;
  color: rgb(65, 62, 62);
  font-size: 30px;
}

.writers-section > article > .content > p,
.writers-section > article > .content > p > time,
.writers-section > article > .content > p > a {
  font-family: Elena;
  font-size: 19px;
  line-height: 2;
}

.writers-section > article > .content > p > a {
  color: #006fc6;
}

.writers-section > article > .content > p > time {
  text-transform: uppercase;
  font-size: 17px;
}

.book {
  width: 100%;
  height: 400px;
  background-color: rgb(85, 83, 83);
  padding-left: 100px;
  color: white;
}

.book article {
  width: 60%;
}

.book article h5 {
  font-family: Elena;
  font-size: 15.888px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 45px;
}

.book article h1 {
  padding-top: 20px;
  font-size: 40px;
  text-decoration: underline;
  padding-bottom: 30px;
}

.book article p {
  font-family: Elena;
  font-size: 19.86px;
  height: 93px;
  line-height: 31.278px;
}

.book article button {
  width: 40%;
  font-size: 21.72px;
  font-weight: 700;
  height: 58.5625px;
  line-height: 24.978px;
  margin-top: 50px;
}
