@font-face {
  font-family: 'Mija';
  src: url('../fonts/mija_bold-webfont.eot');
  src:
    local('☺'),
    url('../fonts/mija_bold-webfont.woff2') format('woff'),
    url('../fonts/mija_bold-webfont.ttf') format('truetype'),
    url('../fonts/mija_bold-webfont.svg#font') format('svg');
}

@font-face {
  font-family: 'Elena';
  src: url('../fonts/elenawebregular.eot');
  src:
    local('☺'),
    url('../fonts/elenawebregular.woff2') format('woff'),
    url('../fonts/elenawebregular.ttf') format('truetype'),
    url('../fonts/elenawebregular.svg#font') format('svg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mija, sans-serif;
}

header nav {
  width: 100%;
  height: 170px;
  background-color: rgb(155, 155, 154);
}

header nav ul {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}

header nav ul > li {
  margin-top: 74px;
  font-size: 22px;
}

header nav ul > li:first-child {
  margin-left: 20px;
  margin-top: 55px;
  font-size: 50px;
}

header nav ul > li:last-child {
  margin-top: 69px;
  margin-right: 20px;
  padding: 5px 15px;
  border: 3px solid white;
  border-radius: 5px;
}

.latest {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 450px;
}

.latest > article {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  font-size: 30px;
  color: white;
}

.article-1 {
  background-color: rgb(161, 160, 160);
}

.article-2 {
  background-color: rgb(148, 146, 146);
}

.article-3 {
  background-color: rgb(134, 133, 133);
}

.article-4 {
  background-color: rgb(99, 97, 97);
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  padding: 50px 0;
  height: inherit;
  background: #f2f2f2;
}

.posts article {
  padding: 30px;
}

.posts article h2 {
  margin-bottom: 25px;
}

.posts article h2 a {
  color: black;
  font-size: 28px;
}

.posts article span,
.posts article span a {
  font-size: 18px;
  color: rgb(155, 155, 154);
}

.posts article p,
.supporters p,
.members p {
  margin-top: 25px;
  font-family: Elena;
  line-height: 1.5;
  font-size: 22px;
}

.posts article p > a {
  font-family: Elena;
}

.posts article:not(:last-child):hover {
  background: white;
  box-shadow: 3px 3px 7px rgba(66, 65, 65, 0.4);
  transform: scale(1.1);
}

.posts article:last-child:hover {
  background: white;
  padding-right: 30px;
  margin-right: 21px;
  box-shadow: 3px 3px 7px rgba(66, 65, 65, 0.4);
  transform: scale(1.1);
}

.posts article:first-child:hover {
  margin-left: 21px;
}

.post-members {
  display: grid;
  grid-template-columns: 34% 64%;
  height: 700px;
  grid-gap: 12px;
  padding: 20px;
  padding-left: 40px;
  background-color: #f2f2f2;
}

.supporters {
  height: 300px;
  background-color: rgb(172, 169, 169);
  border-radius: 13px;
  margin-top: 60px;
  text-align: center;
  color: white;
}

.members {
  background-color: rgb(80, 79, 79);
  border-radius: 23px;
  text-align: center;
  color: white;
}

.supporters h2 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.members h1 {
  padding-top: 300px;
  font-size: 40px;
  text-decoration: underline;
  padding-bottom: 30px;
}

.members p {
  width: 70%;
  margin: 0 auto;
}

.members button {
  background-color: rgb(182, 179, 179);
  width: 30%;
  height: 60px;
  border: none;
  margin-top: 40px;
  border-radius: 7px;
  color: white;
  font-size: 18px;
}
